body {
    margin: 0;
    padding: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&family=DM+Sans:wght@400;500;600&display=swap');


  .recharts-surface {
    overflow: hidden !important;
  }
  .dashboard-container {
    position: relative;
    z-index: 0;
  }